body{
    margin: 0;
    padding: 0;
}

.navegacion{
    display: flex;
    justify-content: space-around;
    background-color: #003a1f8c;
}

.logo{
    width: 200px;
}

.menu{
    display: inline-flex;
    justify-content: center;
    padding: 6px 10px;
    margin: 40px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.menu:hover{
    color: #003a1f8c;
}

.contenido h1, h2, h3{
    text-align: center;
}

.sinopsis{
    text-align: justify;
    margin: 0 50px;
}

.example-card{
    width: 400px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.example-card img{
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    margin: 0px 10px;
    padding: 10px;
}

.cards h4{
    text-align: justify;
}

.cards p{
    text-align: justify;
    margin: 0 50px;
}

.videos{
    display: flex;
    justify-content: space-around;
}

.navegacion_footer{
    display: flex;
    justify-content: space-between;
    background-color: #003a1f8c;
    margin-top: 30px;
}

.plat{
    display: flex;
}

.jka{
    width: 40px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    margin-top: 40px;
    margin-left: 30px;
}

.crunchy{
    width: 150px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu_footer li{
    list-style-type: none;
    margin: 10px 0px 0px 0px;
}

.menu_footer li:hover{
    background-color: aliceblue;
}

.copy{
    margin-top: 20px;
    margin-right: 40px;
    text-align: center;
}
